.post_writer {
	/* #### placement */
	/* #### self-properties */
	/* #### child-properties */
	/* #### font-properties */
	/* #### extra styling (borders, shadows, etc) */
	width: 100%;
	padding: 1vh;
	background-color: white;
	margin-bottom: 1vh;
	border-bottom: solid 2px #2121211a;
	/* box-shadow: 2px 2px 6px #2121211a; */
}

.post_content_main {
	/* #### placement */
	/* #### self-properties */
	/* #### child-properties */
	/* #### font-properties */
	/* #### extra styling (borders, shadows, etc) */
	width: 100%;
	min-height: 8vh;
	display: flex;
	border-bottom: solid 1px rgba(197, 195, 195, 0.5);
}

.user_avatar {
	/* #### placement */
	width: 40px;
	height: 40px;
	margin-right: 8px;
	/* #### self-properties */
	padding: 2px 0 0 0;
	/* #### child-properties */
	object-fit: contain;
	/* #### font-properties */
	font-size: 0.5rem;
	text-align: center;
	color: whitesmoke;
	/* #### extra styling (borders, shadows, etc) */
	border-radius: 12px 0;
	/* background-image: linear-gradient(60deg, #0d3999, #fa737e 100%); */
	background-image: linear-gradient(60deg, #3473fc, #b29dff 100%);
}

.post_input_area {
	/* #### placement */
	/* width: 100%; */
	flex-basis: 80%;
	height: 100%;
	flex: 1;
	/* #### self-properties */
	padding: 4px 8px;
	/* #### child-properties */
	/* #### font-properties */
	/* font-family: 'Roboto'; */
	/* #### extra styling (borders, shadows, etc) */
	border-style: none;
	/* box-shadow: none; */
	/* border-radius: 20px; */
}

.post_input_area::placeholder {
	/* #### placement */
	/* #### self-properties */
	/* #### child-properties */
	/* #### font-properties */
	/* #### extra styling (borders, shadows, etc) */
	font-size: 1.3rem;
	font-weight: 500;
	color: rgba(20, 20, 20, 0.7);
}

.post_content_img {
	width: 100%;
	min-height: 2vh;
	display: flex;
	border-bottom: solid 1px rgba(197, 195, 195, 0.5);
}

.post_img_src {
	/* #### placement */
	width: 100%;
	/* #### self-properties */
	/* #### child-properties */
	/* #### font-properties */
	/* #### extra styling (borders, shadows, etc) */
	border-bottom: solid 1px rgba(50, 50, 50, 0.25);
}

.post_img_src::placeholder {
	/* #### placement */
	/* #### self-properties */
	/* #### child-properties */
	/* #### font-properties */
	color: rgba(20, 20, 20, 0.7);
	font-style: oblique;
	/* #### extra styling (borders, shadows, etc) */
}

.post_writer_controls {
	/* #### placement */
	/* #### self-properties */
	/* #### child-properties */
	/* #### font-properties */
	/* #### extra styling (borders, shadows, etc) */
	width: 100%;
	margin: 4px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.post_writer_sourcer {
	/* #### placement */
	width: 36%;
	/* #### self-properties */
	/* #### child-properties */
	/* #### font-properties */
	/* #### extra styling (borders, shadows, etc) */
	margin-inline-end: 1vh;
}

.post_source_indic {
	/* #### placement */
	/* #### self-properties */
	/* #### child-properties */
	/* #### font-properties */
	/* #### extra styling (borders, shadows, etc) */
	margin-right: 4px;
	font-size: 0.7rem;
	line-height: 1.2rem;
	font-variant-caps: all-petite-caps;
	letter-spacing: 0.5px;
}

.post_writer_locator {
	/* #### placement */
	width: 36%;
	/* #### self-properties */
	/* #### child-properties */
	/* #### font-properties */
	/* #### extra styling (borders, shadows, etc) */
}

.post_input_source {
	/* #### placement */
	/* #### self-properties */
	/* #### child-properties */
	/* #### font-properties */
	/* #### extra styling (borders, shadows, etc) */
	width: 100%;
	min-width: 140px;
	padding: 2px 4px;
	font-size: 0.7rem;
	box-shadow: none;
	/* border-bottom: solid 1px rgba(50, 50, 50, 0.25); */
}

.post_btn_submit {
	/* #### placement */
	width: 16%;
	/* #### self-properties */
	/* #### child-properties */
	/* #### font-properties */
	/* #### extra styling (borders, shadows, etc) */
	padding: 6px 12px;
	margin: 0 0 0 auto;
	color: whitesmoke;
	border-radius: 3px;
	background: linear-gradient(60deg, #1d2fd8, #5d46f3 100%);
}

@media only screen and (min-width: 481px) {
	. {
		/* #### placement */
		/* #### self-properties */
		/* #### child-properties */
		/* #### font-properties */
		/* #### extra styling (borders, shadows, etc) */
	}
}
